


h1{

  font-size: 447%;
  color: rgb(238, 233, 228);
  font-size: 56;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:  1% 3%;
  background-color: rgb(161, 88, 39);
  
  }



  .menu{

    text-align: right;
    margin-right: 5%;
    font-size: larger;
    text-decoration: none;
    color: rgb(249, 255, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }


    body{

    background-color: rgb(209, 132, 45);

    }

    .buscar{


     text-align: left ;
     border-radius: 20px;
     padding: 7 59;
     color: black;
     outline: none;
     width: 220;
     }


     h2{

      text-align: left;
      font-size: 300%;
      margin: 5%;
      color: rgb(253, 253, 253);
      background-color: rgb(192, 88, 56);      
      }

      .sinopsis{

        display: flex;

        padding: 6%;
        font-size: 19;
        color: rgb(10, 10, 10);
        justify-content: right;
        gap: 45px;


      }


      .redes{

      justify-content: center;
      padding: 2%;
      display: flex;
      gap: 30px;

      }
      
      h4{

          text-align: center;
          font-size: 66%;

      }

      .resena{

     text-align: left;
     margin-top: 4%;

    
      }